version: '3.8'

services:
  backend:
    build: ./backend
    container_name: django_api
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - BROWSER=none

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: build
    container_name: react_client
    stdin_open: true
    tty: true
    volumes:
      - ./frontend:/app
      # Elimina esta línea o coméntala temporalmente:
      # - frontend_node_modules:/app/node_modules
      - /app/node_modules # Esto crea un volumen anónimo
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

# Comenta o elimina esta sección temporalmente:
# volumes:
#   frontend_node_modules:
#     driver: local
